:root {
	--text-blue: rgb(59 130 246);
	--text-lime: rgb(70, 147, 12);
	--text-yellow: rgb(255, 255, 3);
	--text-red: rgb(249, 31, 31);
	--text-purple: purple;
	--text-indigo: rgb(255, 237, 42);

	--python: #3776AB;      /* Python Blue */
	--cpp: #00599C;         /* C++ Blue */
	--csharp: #962396;      /* C# Green */
	--javascript: #F7DF1E;  /* JS Yellow */
	--typescript: #3178C6;  /* TS Blue */
	--react: #61DAFB;       /* React Cyan */
	--php: #777BB4;         /* PHP Purple */
	--html: #E34F26;        /* HTML5 Orange */
	--css: #1572B6;         /* CSS3 Blue */
	--git: #F05032;         /* Git Orange-Red */
	--sql: #00618A;         /* SQL (MySQL Blue) */

}
@font-face {
	font-family: bkoodak;
	src: url(../fonts/BKoodakBold.ttf);
}
@font-face {
	font-family: MartianMono;
	src: url(../fonts/static/MartianMono-ExtraBold.ttf);	
}

* {
	font-family: bkoodak, MartianMono;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container h1 {
	font-size: 20px;
	color: rgba(54, 54, 54, 0.849);
}
.container h2 {
	border-top: 1px solid rgb(0, 0, 0);
	padding: 20px;
	color: var(--skill-colors);
}
.container {
	z-index: 0;
	position: absolute;
	border: 1px solid white;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.822);
	top: 50%;
	left: 50%;
	opacity: 0;
	transition: all 0.6s ease 0s;
	transform: translate(-50%, -40%) scale(0.3);
	
	padding: 20px;
	font-size: 20px;
	border-radius: 3px;
	min-width: 300px;
	max-height: 50vh;
	overflow-y: auto;
}

.skills {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}
.skill {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: white;
}

.dots {
	display: flex;
	gap: 5px;
	transform: rotateY(180deg);
}
.dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #b6b6b6;
}
.dot.filled {
	background: rgb(120, 13, 120);
}

header {
	position: fixed;
	font-size: 30px;
	/* background-color: rgba(255, 255, 255, 0.89); */
	width: 100%;
	z-index: 1;
}

.h-btn {
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
    border: 1px solid black;
	user-select: none;
	width: 100%;
	min-width: 300px;
	padding: 10px;
}
@media only screen and (max-width: 486px) {
	.shiny-button {
		font-size: 15px !important;
	}
	.container h1, .container h2, .container {
		font-size: 16px !important;
	}
}

header a {
    color: white;
    margin: -8px 0px;	
}

.shiny-button {
    position: relative;
    color: white;
    cursor: pointer;
    overflow: hidden; /* Ensure the shine doesn't overflow */
    display: inline-block;
    padding: 10px 20px;
	margin-top: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    text-decoration: none;
    width: fit-content;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.shiny-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(253, 253, 253, 0.377), transparent);
}
.shiny-button:hover::before {
	animation: shine 1s;
}

@keyframes shine {
    0% {left: -100%;}
    100% {left: 100%;}
}

.icon {
    margin-right: 10px;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to bottom, #1B49C6, #00aaff); 
    border-radius: 5px; */
	background-color: #868686;
    transition: background 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    /* background: linear-gradient(to bottom, #A114DB, #C51EE4); */
	background-color: #868686;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}
.colon {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
}

/* short styles */
.shiny-button:hover {transform: scale(1.05);}

.github {background-image: linear-gradient(90deg, #5939ce 0, #dd217fd7);}
.telegram {background-image: linear-gradient(90deg, #279bfa 0, #251ac4);}
.whatsapp {background-image: linear-gradient(90deg, #11a732 0, #0de660cc);}
.rubika {background-image: linear-gradient(90deg, #752cf3 0 30%,  rgb(36, 219, 36) 70%, #eb401ad5 100%);}

.text-blue {color: var(--text-blue)}
.text-lime {color: var(--text-lime)}
.text-yellow {color: var(--text-yellow)}
.text-red {color: var(--text-red)}
.text-purple {color: var(--text-purple)}
.text-indigo {color: var(--text-indigo)}

.skill:nth-child(1) span:first-child {color: var(--python)}
.skill:nth-child(2) span:first-child {color: var(--cpp)}
.skill:nth-child(3) span:first-child {color: var(--csharp)}
.skill:nth-child(4) span:first-child {color: var(--javascript)}
.skill:nth-child(5) span:first-child {color: var(--typescript)}
.skill:nth-child(6) span:first-child {color: var(--react)}
.skill:nth-child(7) span:first-child {color: var(--php)}
.skill:nth-child(8) span:first-child {color: var(--git)}
.skill:nth-child(9) span:first-child {color: var(--sql)}
.skill:nth-child(10) span:first-child {color: var(--html)}
.skill:nth-child(11) span:first-child {color: var(--css)}

